
{{> head }}
{{> navbar }}

<div class="row">
 <div class="col-8">
     <h1>Batman</h1>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nesciunt ipsam aperiam quo assumenda eos vero sint repellendus tempora nostrum omnis tenetur dignissimos veritatis nobis, maxime suscipit voluptate? Ullam, laudantium!</p>
 </div>
<div class="col-4">
     <img src="assets/img/batmanpe.png" alt="" class="img-thumbnail">
 </div>
</div>


{{> footer }}